$dark-blue: #0D1821;
$dark-blue--hover: #000000;

$blue: #344966;
$blue--hover: #223146;

$light-blue: #B4CDED;
$light-blue--hover: #7393bd;

$white: #F0F4EF;
$white--hover: #c9c9c9;

$pure-white: #FFFFFF;
$pure-white--hover: #d8d8d8;

$light-green: #BFCC94;
$light-green--hover: #a3b174;