<header>
  <div class="title">
    <p>Blog</p>
  </div>
  <div class="account">
    <a href="/" class="ui-button ui-button--white">Entrar</a>
    <a href="/" class="ui-button ui-button--light-blue">Criar conta</a>
  </div>
  <div class="menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu-mobile">
    <a href="/" class="ui-button ui-button--white">Entrar</a>
    <a href="/" class="ui-button ui-button--light-blue">Criar conta</a>
  </div>
</header>