<div class="post">
  <div class="post__header">
    <div class="post__header--profile">
      <div class="post__header--profile-pic">
        <img src="/public/img/profile-pic.png" alt="Foto de perfil">
      </div>
      <div class="post__header--profile-info">
        <p class="post__header--profile-info-name">
          Usuário
        </p>
        <p class="post__header--profile-info-datetime">
          23:25 24/08/2021
        </p>
      </div>
    </div>
  </div>
  <div class="post__content">
    <div class="post__content--text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, sunt expedita animi alias eligendi nisi? Error impedit dolor itaque unde, accusamus rerum aliquid voluptas laudantium. Quod reprehenderit sapiente eveniet nobis.
    </div>
    <div class="post__content--media">
      <img src="/public/img/post-img.png" alt="Imagem do post">
    </div>
  </div>
</div>