.website footer {
  align-items: center;
  background: $blue;
  bottom: 0;
  display: flex;
  font-size: .875rem;
  justify-content: center;
  padding: 1.125rem 0;
  width: 100%;
  .copyright {
    color: $white;
  }
}